@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveMouse {
  0% {
    top: 50px;
    left: 10%;
  }

  10% {
    top: 100px;
    left: 30%;
  }

  30% {
    top: 200px;
    left: 20%;
  }

  40% {
    top: 300px;
    left: 30%;
  }

  50% {
    top: 400px;
    left: 45%;
  }

  75% {
    top: 475px;
    left: 50%;
  }

  100% {
    top: 542px;
    left: 38%;
  }
}

.mouse-icon {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  stroke: white;
  fill: none;
  animation: moveMouse 4s ease-in-out forwards;
  z-index: 100;
}
